@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* GENERAL */
:root{
 --orange: #ffa500;
}

* {
 font-family: 'Nunito', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 border: none;
 text-decoration: none;
 transition: all .2s linear;
}

html {
 scroll-padding-top: 6rem;
 scroll-behavior: smooth;
}

.btn {
 display: inline-block;
 margin-top: 1rem;
 background: var(--orange);
 color: #fff;
 padding: .5rem;
 border: .2rem solid var(--orange);
 cursor: pointer;
 font-size: 1rem;
}

.btn:hover {
  border: 2px solid var(--orange);
  background: rgba(255, 165, 0, .2);
  color: var(--orange);

}

a[href^="mailto"], [href^="https"] {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

/* SECCIONES */
section {
  width: 90%;
  margin: auto;
}

/* TITULOS */
.heading {
  text-align: center;
  padding: 2%;
  margin-top: 1rem;
}

.heading span {
 font-size: 2.0rem;
 background: rgba(255, 165, 0, .2);
 color: var(--orange);
 border-radius: .5rem;
 padding: .2rem 1rem;
}

/* HEADER - BARRA NAVEGACION SUPERIOR */
.bg-graynav {
    background-color: #666;
}

.nav-item a {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.nav-item a:hover {
  color: var(--orange);

}

.dropdown-menu  li a{
  background-color: #666;
  color: white;
}


/* VIDEO PRESENTACION */

video {
  width: 90%;
  height:200px;
  border: 3px solid var(--orange);
  border-radius: 20px;
  overflow: hidden;
  object-fit:cover ;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 0;
}

.destinations {
  max-width: 90%;
}

.presentation-video h1{
  color: #333;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 0
  ;
}

.presentation-video p{
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

.audio {
  margin-left: 45%;
  margin-right: auto;
}

/* SECCION DESTINOS */
.destinations {
  max-width: 75%;
}


.destinations .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.destinations .box-container .box{
  flex:1 1 20rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.destinations .box-container .box img{
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.destinations .box-container .box .content {
  padding: 1rem;
}

.destinations .box-container .box .content h3 {
  font-size: 1.2rem;
  color:#333;
}

.destinations .box-container .box .content h3 i {
  color:var(--orange);
}

.destinations .box-container .box .content p {
  font-size: 1rem;
  color:#666;

}

.destinations .box-container .box .content .stars i {
  font-size: 1rem;
  color: var(--orange);
}

.destinations .box-container .box .content .reviews {
    display: flex;
    align-items: baseline;
}

.destinations .box-container .box .content .reviews p {
    font-size: 1rem;
    margin-left: 5%;
}

 .destinations .box-container .box .content .price {
  font-size: 1rem;
  color: #333;
  padding-top: 1rem;
}

.destinations .box-container .box .content .price span {
  color: #666;
  font-size: 1rem;
  text-decoration: line-through;
}

.destinations .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

/* SECCION PAQUETES */
.packages {
  max-width: 70%;
}

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2.5rem;
}

.packages .box-container .box-pack{
  flex:1 1 20rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box-pack img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
 
}

.packages .box-container .box-pack .content {
  padding: 2rem;
}

.packages .box-container .box-pack .content h3 {
  font-size: 1.2rem;
  color:black;
  text-align: center;
}

.packages .box-container .box-pack .content ul {
  font-size: 1rem;
  list-style: none;
  text-align: center;
  padding-right: 10%;
}

.packages .box-container .box-pack:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

/* SECCION SERVICIOS */
.services {
  max-width: 75%;
}

.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
 }

.services .box-container .box{
  flex: 1 1 20rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding: 1rem;
  font-size: 2.5rem;
  color:var(--orange);
}

.services .box-container .box h3{
  font-size: 1.2rem;
  color:#333;
}

.services .box-container .box p{
  font-size: 1rem;
  color:#666;
  margin-bottom: 10%;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

/* SECCION RESEÑAS*/

.reviews {
  width: 75%;
}

.reviews .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    overflow: hidden;
    column-gap:2%;
    height: 200rem;
}

.reviews .grid-container .box {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 10%;
    border: 1px solid #bfc9ca;
    border-radius: 1rem;
    height: 60rem;
}

.reviews .grid-container .box img{
  border-radius: 50%;
}

.reviews .grid-container .box h3{
  font-size: 1.2rem;
  margin-top: 10%;
}

.reviews .grid-container .stars i {
  font-size: 1rem;
  color: var(--orange);
}

.reviews .grid-container .box {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.reviews .grid-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
}

.reviews .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.reviews .item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.reviews .item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}.reviews 

.reviews .item4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.reviews .item5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.reviews .item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.reviews .item7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.reviews .item8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.reviews .item9 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.reviews .item10 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.reviews .item11 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.item12 {
    grid-column:3 / 4;
    grid-row: 4 / 5;
}

.reviews .title {
  display: flex;
  justify-content: center;
}

/*GALERIA */
.gallery {
  width: 75%;
}

.gallery .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2%;
    overflow: hidden;
    height: 1000px;
}

.gallery .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gallery .item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.gallery .item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.gallery .item4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.gallery .item5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.gallery .item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.gallery .item7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.gallery .item8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.gallery .item9 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.gallery .grid-container .card h3 {
 font-size: 1rem;
 text-align: center;
 padding-top: 3%;
}

.gallery .grid-container .card .pic {
  width: 90%;
  max-height: 180px;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}

.gallery .grid-container .card .btn{
  margin: 1% 0 1% 42%;
  font-size: .8rem;
}

.gallery .grid-container .card {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.gallery .grid-container .card:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
}




/* FOOTER - BARRA NAVEGACION INFERIOR */
footer {
  max-width: 100%;
}

.bg-dark {
  background-color: #666 !important;
}

.row {
  padding-top: 2% !important;
}

.container-fluid {
  display: flex;
  justify-content: center;
  padding: 0 2%!important;
  margin: 0%;
}

.legales {
  display: flex;
  justify-content: center;
  padding: 0 10%;
}

.designer {
  display: flex;
  justify-content: center;

}

.text-white-50 {
  color: white !important;
  font-size: .8rem;
}

.text-primary {
  font-size: 1.5rem;
  margin-top: 0;
  color: #00BFFF !important;
}

.d-flex {
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  align-items: flex-start;
}

btn btn-outline-primary btn-square {
  width: 25px;
  text-align: center;
}


/* PAGINA DE CONTACTOS*/

.contact {
  margin-top: 5rem;
}

.contact .contact-row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  align-items: center;
}

.contact .contact-row .contact-image{
  flex:1 1 10rem;
  max-width: 30rem;
  margin-right: 3rem;
}

.contact .contact-row .contact-image img{
  width: 100%;
 
}

.contact .contact-row form{
  flex:1 1 5rem;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;

}

.contact .contact-row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .contact-row form .inputBox input, .contact .contact-row form textarea{
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
  
}

.contact .contact-row form textarea{
  height: 10rem;
  width: 90%;
}

.contact .contact-row .contact-form {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.contact .contact-row .contact-form:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}


/* PAGINA DE BOOKING */

.book {
  margin-top: 4rem;
}

.book-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.book-image {
    width: 30%;
    margin: 0 3rem;
}

.book-image img {
  object-fit:cover;
  width: auto;
  height: 400px;
}

.book-form {
    max-width: 60%;
    padding: 2rem;;
}

.passengers, .dates {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.passengers h3, .dates h3, .comments h3 {
  margin-right: 2rem;
}

.passengers input, .dates input {
  width: 300px;
  margin-right: 2rem;
}

.book .book-row .book-form h3 {
  font-size: 1rem;
  font-weight: 500;
}

.book .book-row .book-form .inputselect {
    max-width: 40%;
    padding: .5rem;
    border: .5rem solid rgba(0,0,0,.1);
    font-size: 1rem;
    color: #333;
    text-transform: none;
}

.book .book-row .book-form .passangers input, .book .book-row .book-form .dates input {
    max-width: 50%;
    padding: .5rem;
    border: .5rem solid rgba(0,0,0,.1);
    font-size: 1rem;
    color: #333;
    text-transform: none;
    font-size: 1rem;
    color: #666;
}

.book .book-row form .imputselect, .book-row .passangers input{
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.book .book-row h3 {
  font-size: 1rem;
  font-weight: 600;
  color:black;
  margin-top: 1rem;;
}

.book .book-row form textarea{
  height: 5rem;
  width: 50%;
}

.book .book-row .book-form {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.book .book-row .book-form:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

/*  SECTOR RESPONSIVE */
  /* SECCION RESEÑAS  Y GALERIA */

@media (max-width:991px) {
  .reviews .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    overflow: hidden;
    column-gap:2%;
    height: 330rem;
   
}
.reviews 
.reviews .grid-container .box img{
  border-radius: 50%;
}

.reviews .grid-container .box h3{
  font-size: 1.2rem;
  margin-top: 10%;
}

.reviews .grid-container .stars i {
  font-size: 1rem;
  color: var(--orange);
}

.reviews .grid-container .box {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.reviews .grid-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
}

.reviews .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.reviews .reviews item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.reviews .item3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.reviews .item4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.reviews .item5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.reviews .item6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.reviews .item7 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.reviews .item8 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.reviews .item9 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.reviews .item10 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}


.reviews .title {
  display: flex;
  justify-content: center;
}



.gallery .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2%;
    overflow: hidden;
    min-height: 1500px;
}

.gallery .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gallery .item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.gallery .item3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.gallery .item4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.gallery .item5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.gallery .item6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.gallery .item7 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.gallery .item8 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.gallery .item9 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}


.gallery .grid-container .card h3 {
 font-size: 1rem;
 text-align: center;
 padding-top: 3%;
}

.gallery .grid-container .card .pic {
  width: 90%;
  max-height: 180px;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}

.gallery .grid-container .card .btn{
  margin: 1% 0 1% 42%;
  font-size: .8rem;
}

.gallery .grid-container .card {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.gallery .grid-container .card:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
}




}


@media (max-width:767px) {

  .services .box-container{
    width: 70%;
    margin-left: 15%;
  }

  .reviews .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 660rem;
  
}

 .reviews .grid-container .box {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border: 1px solid #bfc9ca;
    border-radius: 1rem;
} 

.reviews .grid-container .box img{
  border-radius: 50%;
}

.reviews .grid-container .box h3{
  font-size: 1.2rem;

}

.reviews .grid-container .stars i {
  font-size: 1rem;
  color: var(--orange);
}

.reviews .grid-container .box {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.reviews .grid-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
}

.reviews .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.reviews .item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.reviews .item3 {
     grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.reviews .item4 {
     grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.reviews .item5 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.reviews .item6 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.reviews .item7 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.reviews .item8 {
   grid-column: 1 / 2;
    grid-row: 8 / 9;
}

.reviews .item9 {
    grid-column: 1 / 2;
    grid-row: 9 / 10;
}

.reviews .title {
  display: flex;
  justify-content: center;
}
  
.gallery .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2%;
    overflow: hidden;
    width: 80%;
    margin-left: 10%;
    min-height: 3000px;
}

.gallery .item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.gallery .item2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.gallery .item3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.gallery .item4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.gallery .item5 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.gallery .item6 {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.gallery .item7 {
   grid-column: 1 / 2;
   grid-row: 7 / 8;
}

.gallery .item8 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}

.gallery .item9 {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
}


.gallery .grid-container .card h3 {
 font-size: 1rem;
 text-align: center;
 padding-top: 3%;
}

.gallery .grid-container .card .pic {
  width: 90%;
  max-height: 180px;
  object-fit: cover;
  margin: auto;
  overflow: hidden;
}

.gallery .grid-container .card .btn{
  margin: 1% 0 1% 42%;
  font-size: .8rem;
}

.gallery .grid-container .card {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.gallery .grid-container .card:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
}




}

